Flask
PyGithub
openai
pillow
scapy
requests   
socket
argparse
pwntools
paramiko
impacket
pycrypto 
cryptography
subprocess
os
nmap
bs4
shodan
colorama
uuid
json
time
hashlib
base64
random
re
libpcap-dev
libssl-dev
libcurl4-openssl-dev
libnetfilter-queue-dev
libnl-3-dev
libncurses5-dev
libev-dev
github.com/projectdiscovery/naabu
github.com/projectdiscovery/subfinder
